*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

#global {
    width: 100vw;
    height: 100vh;
    background-color: lightgreen;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#ecrant1 {
    width: 45%;
    background-color: darkseagreen;
    margin: 2%;
    display: flex;
    flex-direction: column;
}

#ecrant2 {
    width: 45%;
    background-color: darkseagreen;
}

i{
    font-size: 3rem;
}

#poubelle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
    height: 50%;
}

#dechet {
    width: 90%;
    height: 50%;
    margin: 5%;
    border: 1px solid brown;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.dechetItem {
    width: 18%;
    height: 20%;
    background-color: #69471E;
}